*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.allTask{
    margin-left: 270px;
    padding: 10px 0;
}
.teamsdivs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
